.downloadSection {
    height: 730px;
    border-top: .5px solid var(--color-faint-line);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.downloadSection h1 {
    font-size: 1.7rem;
    color: var(--color-headertext-color);
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}


.downloadSection p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--color-text-color);
    width: 95%;
    text-align: center;
    margin-bottom: 50px;
}


.appimagecontainer{
    width:40%;
    background-size: cover;
    display:flex;
    margin-bottom: 40px;
    overflow: hidden;
}


.appimagecontainer img{
    width:100%;
}


.downloadbuttoncontainer{
    display:flex;
    column-gap: 8px;
    
}

.downloadbuttoncontainer .downloadbutton{
    width:220px;
    
}








@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 800px) {

    .downloadSection {
        height:620px;
        
        
    }
    .downloadSection h1 {
        font-size: 1.5rem;
    }

    .downloadSection p {
        font-size: 1rem;
    }

    
    
    .appimagecontainer{
        width:93%;
        display: flex;
        justify-content: center;
    }
    
    .appimagecontainer img{
        width:70%;
    }



    .downloadSection {
        
    }


    .downloadbuttoncontainer .downloadbutton{
        width:150px
        
    }
    
    



    
}