.form_selectcontainer{
    width:100%;
    border-radius: 10px;
    display:flex;
    gap:1rem;
    flex-direction: column;
    padding-top:10px;
    margin-bottom: 25px;
    align-self: center;
    margin-bottom: 20px;
}


.form_selectcontainer .categoryhead{
    display:flex;
    gap:5rem;
    margin-bottom: 20px;
}



.form_selectcontainer .categoryhead h3{
    margin-top: 5px;
    font-size:1rem;
    font-weight: 700;
}
.form_selectcontainer .categorybody{
    height:50px;
    border-radius:10px;
    margin-left:5px;
}

.form_selectcontainer .categorybody select{
    
    background-color:var(--color-fade);
    width:100%;
    height:55px;
    border-radius:5px;
    color:var(--color-form);
    font-size: 1rem;
    font-weight:lighter;
    padding-left: 12px;
    font-family: Poppins;
}


.form_selectcontainer h3{
    font-size:1.5rem;
    font-weight:400
}